<main  >

  <div class="relative mx-auto px-8 max-w-7xl py-12   md:px-12">
    <div
      class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2 ">
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://i1.sndcdn.com/artworks-000549304455-9amuyn-t500x500.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="https://github.com/oneLabs-org/bloom">
                <span aria-hidden="true" class="absolute inset-0"></span>
                A Self-Hosted CFP Manager.
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Bloom</p>
          </div>
          <p class="text-base text-tomato-500">$0</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://as1.ftcdn.net/v2/jpg/02/77/73/32/1000_F_277733256_kYSafa6cbWShWS9KwRdLReJPnKg9Ntgx.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                A libre URL Shortner with Self-Hosting
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              LinkLeaf
            </p>
          </div>
          <p class="text-base text-tomato-500">$0</p>
        </div>
      </figure>
      <!-- <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16397986/media/75e59a9fcf94b8a51764df66ce7a1d4f.jpg?compress=1&resize=1600x1200&vertical=top"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Coffe bag
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Strong. Level: Developer
            </p>
          </div>
          <p class="text-base text-tomato-500">$35</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/2739254/file/original-ac8226a7213611e49363fc0176a48cb0.jpg?compress=1&resize=1504x1128"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Coffe bag
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Strong. Level: Designer
            </p>
          </div>
          <p class="text-base text-tomato-500">$35</p>
        </div>
      </figure> -->
    </div>
  </div>
</main>
